# Copy file này thành .env rồi điền giá trị thật vào

PORT=3000
SESSION_SECRET=doi_thanh_chuoi_bi_mat_bat_ky

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
